/* 全局 */
#app,
body,
html {
    width: 100%;
    height: 100%;
    background-color: #f6f8f9;
    font-size: 12px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

a,
button,
input,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    outline: none !important;
    -webkit-appearance: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

/* 大布局样式 */
.aminui {
    display: flex;
    flex-flow: column;
}

.aminui-wrapper {
    display: flex;
    flex: 1;
    overflow: auto;
}

/* 全局滚动条样式 */
.scrollable {
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50, 50, 50, 0.6);
}

::-webkit-scrollbar-track {
    background-color: rgba(50, 50, 50, 0.1);
}

::-webkit-scrollbar-track:hover {
    background-color: rgba(50, 50, 50, 0.2);
}

/*布局设置*/
.layout-setting {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 3px 0 0 3px;
    bottom: 100px;
    right: 0px;
    z-index: 100;
    background: #409EFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.layout-setting i {
    font-size: 18px;
    color: #fff;
}

/* 头部 */
.adminui-header {
    height: 58px;
    background: #222b45;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.adminui-header-left {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.adminui-header-right {
    display: flex;
    align-items: center;
}

.adminui-header .logo-bar {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.adminui-header .logo-bar .logo {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

.adminui-header .nav {
    display: flex;
    height: 100%;
    margin-left: 40px;
}

.adminui-header .nav li {
    padding: 0 10px;
    margin: 0 10px 0 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.adminui-header .nav li i {
    margin-right: 5px;
}

.adminui-header .nav li:hover {
    color: #fff;
}

.adminui-header .nav li.active {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.adminui-header .user-bar .panel-item:hover {
    background: rgba(255, 255, 255, 0.1) !important;
}

.adminui-header .user-bar .user label {
    color: #fff;
}

/* 左侧菜单 */
.aminui-side-split {
    width: 65px;
    flex-shrink: 0;
    background: #222b45;
    display: flex;
    flex-flow: column;
}

.aminui-side-split-top {
    height: 49px;
}

.aminui-side-split-top a {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aminui-side-split-top .logo {
    height: 30px;
    vertical-align: bottom;
}

.adminui-side-split-scroll {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    flex: 1;
}

.aminui-side-split li {
    cursor: pointer;
    width: 65px;
    height: 65px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aminui-side-split li i {
    font-size: 18px;
}

.aminui-side-split li p {
    margin-top: 5px;
}

.aminui-side-split li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.aminui-side-split li.active {
    background: #409EFF;
}

.adminui-side-split-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.adminui-side-split-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.adminui-side-split-scroll::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

.adminui-side-split-scroll::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 255, 255, 0);
}

.aminui-side {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    width: 210px;
    background: #fff;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, .05);
    border-right: 1px solid #e6e6e6;
    transition: width 0.3s;
}

.adminui-side-top {
    border-bottom: 1px solid #ebeef5;
    height: 50px;
    line-height: 50px;
}

.adminui-side-top h2 {
    padding: 0 20px;
    font-size: 17px;
    color: #3c4a54;
}

.adminui-side-scroll {
    overflow: auto;
    overflow-x: hidden;
    flex: 1;
}

.adminui-side-bottom {
    border-top: 1px solid #ebeef5;
    height: 51px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminui-side-bottom i {
    font-size: 16px;
}

.adminui-side-bottom:hover {
    color: var(--el-color-primary);
}

.aminui-side.isCollapse {
    width: 65px;
}

.el-menu .menu-tag {
    position: absolute;
    height: 18px;
    line-height: 18px;
    background: var(--el-color-danger);
    font-size: 12px;
    color: #fff;
    right: 20px;
    border-radius: 18px;
    padding: 0 6px;
}

.el-menu .el-sub-menu__title .menu-tag {
    right: 40px;
}

.el-menu--horizontal>li .menu-tag {
    display: none;
}

/* 右侧内容 */
.aminui-body {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.adminui-topbar {
    height: 50px;
    border-bottom: 1px solid #ebeef5;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
    display: flex;
    justify-content: space-between;
}

.adminui-topbar .left-panel {
    display: flex;
    align-items: center;
}

.adminui-topbar .right-panel {
    display: flex;
    align-items: center;
}

.right-panel-search {
    display: flex;
    align-items: center;
}

.right-panel-search>*+* {
    margin-left: 10px;
}

.adminui-tags {
    height: 35px;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.adminui-tags ul {
    display: flex;
    overflow: hidden;
}

.adminui-tags li {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 34px;
    line-height: 34px;
    position: relative;
    flex-shrink: 0;
}

.adminui-tags li::after {
    content: " ";
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0px;
    background-image: linear-gradient(#fff, #e6e6e6);
}

.adminui-tags li a {
    display: inline-block;
    padding: 0 10px;
    width: 100%;
    height: 100%;
    color: #999;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.adminui-tags li i {
    margin-left: 10px;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminui-tags li i:hover {
    background: rgba(0, 0, 0, .2);
    color: #fff;
}

.adminui-tags li:hover {
    background: #ecf5ff;
}

.adminui-tags li.active {
    background: #409EFF;
}

.adminui-tags li.active a {
    color: #fff;
}

.adminui-tags li.sortable-ghost {
    opacity: 0;
}

.adminui-main {
    overflow: auto;
    background-color: #f6f8f9;
    flex: 1;
}

/*页面最大化*/
.aminui.main-maximize .main-maximize-exit {
    display: block;
}

.aminui.main-maximize .aminui-side-split,
.aminui.main-maximize .aminui-side,
.aminui.main-maximize .adminui-header,
.aminui.main-maximize .adminui-topbar,
.aminui.main-maximize .adminui-tags {
    display: none;
}

.main-maximize-exit {
    display: none;
    position: fixed;
    z-index: 3000;
    top: -20px;
    left: 50%;
    margin-left: -20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.main-maximize-exit i {
    font-size: 14px;
    margin-top: 22px;
    color: #fff;
}

.main-maximize-exit:hover {
    background: rgba(0, 0, 0, 0.4);
}


/* 覆盖element-plus样式 */

:root {
    --el-color-primary: #409EFF;
    --el-border-color-light: #e4e7ed;
    --el-color-primary-light-1: #53a7ff;
    --el-color-primary-light-2: #66b1ff;
    --el-color-primary-light-3: #79bbff;
    --el-color-primary-light-4: #8cc4ff;
    --el-color-primary-light-5: #9fceff;
    --el-color-primary-light-6: #b2d8ff;
    --el-color-primary-light-7: #c5e1ff;
    --el-color-primary-light-8: #d8ebff;
    --el-color-primary-light-9: #ebf5ff;
    --el-color-primary-dark-1: #398ee5;
    --el-color-primary-dark-2: #337ecc;
    --el-color-primary-dark-3: #2c6eb2;
    --el-color-primary-dark-4: #265e99;
    --el-color-primary-dark-5: #204f7f;
    --el-color-primary-dark-6: #193f66;
    --el-color-primary-dark-7: #132f4c;
    --el-color-primary-dark-8: #0c1f32;
    --el-color-primary-dark-9: #060f19;
}

.el-menu {
    border: none !important;
}

.el-menu .el-menu-item a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.el-form-item-msg {
    font-size: 12px;
    color: #999;
    clear: both;
    width: 100%;
}

.el-container {
    height: 100%;
}

.el-aside {
    border-right: 1px solid var(--el-border-color-light);
}

.el-container+.el-aside {
    border-right: 0;
    border-left: 1px solid var(--el-border-color-light);
}

.el-header {
    background: #fff;
    border-bottom: 1px solid var(--el-border-color-light);
    padding: 13px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.el-header .left-panel {
    display: flex;
    align-items: center;
}

.el-header .right-panel {
    display: flex;
    align-items: center;
}

.el-header .right-panel>*+* {
    margin-left: 10px;
}

.el-footer {
    background: #fff;
    border-top: 1px solid var(--el-border-color-light);
    padding: 13px 15px;
}

.el-main {
    padding: 15px;
}

.el-main.nopadding {
    padding: 0;
    background: #fff;
}

.el-drawer__body {
    overflow: auto;
    padding: 0;
}

.el-popconfirm__main {
    margin: 14px 0;
}

.el-card__header {
    border-bottom: 0;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 20px 0px 20px;
}

.el-dialog__title {
    font-size: 17px;
    font-weight: bold;
}

.el-drawer__header>:first-child {
    font-size: 17px;
    font-weight: bold;
}

.el-tree.menu .el-tree-node__content {
    height: 36px;
}

.el-tree.menu .el-tree-node__content .el-tree-node__label .icon {
    margin-right: 5px;
}

.el-progress__text {
    font-size: 12px !important;
}

.el-progress__text i {
    font-size: 14.4px !important;
}

.el-step.is-horizontal .el-step__line {
    height: 1px;
}

.el-step__title {
    font-size: 14px;
}

.drawerBG {
    background: #f6f8f9;
}

.el-button+.el-dropdown {
    margin-left: 10px;
}

.el-button-group+.el-dropdown {
    margin-left: 10px;
}

.el-button-group+.el-button-group {
    margin-left: 10px;
}

.el-tabs__nav-wrap::after {
    height: 1px;
}

.el-table th.is-sortable {
    transition: .1s;
}

.el-table th.is-sortable:hover {
    background: #eee;
}

.el-table .el-table__body-wrapper {
    background: #f6f8f9;
}

.el-col .el-card {
    margin-bottom: 15px;
}

.el-main {
    flex-basis: 100%;
}

.el-main>.adminui-table .el-table--border::before {
    display: none;
}

.el-main>.adminui-table .el-table--border::after {
    display: none;
}

.el-main>.adminui-table .el-table--border .el-table__inner-wrapper::after {
    display: none;
}

.el-main>.adminui-table .el-table__border-left-patch {
    display: none;
}

.el-main>.adminui-table .el-table--border .el-table__inner-wrapper tr:first-child td:first-child {
    border-left: 0;
}

.el-main>.adminui-table .el-table--border .el-table__inner-wrapper tr:first-child th:first-child {
    border-left: 0;
}

.el-table.el-table--large {
    font-size: 14px;
}

.el-table.el-table--small {
    font-size: 12px;
}

.el-table {
    font-size: 12px;
}

.el-radio-button__inner {
    font-size: 12px;
}

.el-checkbox-button__inner {
    font-size: 12px;
}

.el-sub-menu .el-icon {
    font-size: 17px;
}

.el-sub-menu .el-sub-menu__icon-arrow {
    font-size: 12px;
}

.aminui-wrapper .el-form-item {
    margin-bottom: 16px;
}

.aminui-wrapper .el-form-item .el-form-item__label,
.aminui-wrapper .el-form-item .el-input .el-input__icon {
    height: 32px;
    line-height: 32px;
}

.aminui-wrapper .el-form-item .el-form-item__content {
    line-height: 32px;
}

.aminui-wrapper .el-form-item .el-input__inner {
    height: 30px;
}

.aminui-wrapper .el-form-item .el-input-number .el-input-number__increase,
.aminui-wrapper .el-form-item .el-input-number .el-input-number__decrease {
    height: 28px;
    line-height: 28px;
    top: 5px;
}

.aminui-wrapper .el-form-item .el-rate__icon {
    vertical-align: middle;
    line-height: 32px;
}

.aminui-side-split li.active {
    background-color: var(--el-color-primary);
}

.adminui-tags li:hover {
    background-color: var(--el-color-primary-light-9);
}

.adminui-tags li.active {
    background-color: var(--el-color-primary) !important;
}

.contextmenu li:hover {
    background-color: var(--el-color-primary-light-9) !important;
    color: var(--el-color-primary-light-2) !important;
}

.data-box .item-background {
    background-color: var(--el-color-primary) !important;
}

.layout-setting,
.diy-grid-setting {
    background-color: var(--el-color-primary) !important;
}

/* 全部禁用el-tag动画 */
.el-tag {
    transition: all 0s !important;
}

@media (max-width: 992px) {

    // 移动端样式覆盖
    .el-form-item {
        display: block;
    }

    .el-form-item__label {
        display: block;
        text-align: left;
        padding: 0 0 10px;
    }

    .el-dialog {
        width: 90% !important;
    }

    .el-dialog.is-fullscreen {
        width: 100% !important;
    }

    .el-drawer.rtl {
        width: 90% !important;
    }

    .el-form-item__content {
        margin-left: 0px !important;
    }

    .adminui-main>.el-container {
        display: block;
        height: auto;
    }

    .adminui-main>.el-container>.el-aside {
        width: 100% !important;
        border: 0
    }

    .adminui-table .el-table,
    .adminui-table .el-table__body-wrapper {
        display: block !important;
        height: auto !important;
    }

    .adminui-table .el-scrollbar__wrap {
        height: auto !important;
    }

    .adminui-table .adminui-table-footer {
        padding: 0 5px !important;
    }

    .adminui-table .el-pagination__total,
    .adminui-table .el-pagination__jump,
    .adminui-table .el-pagination__sizes {
        display: none !important;
    }

    .adminui-main>.el-container>*:first-child:not(.el-aside):not(.el-header) {
        border: 0;
        margin-top: 0;
    }

    .adminui-main>.el-container>*:first-child:not(.el-aside):not(.el-header)+.el-aside {
        margin-top: 0;
    }

    .adminui-main>.el-container>.el-aside {
        border-bottom: 1px solid var(--el-border-color-light) !important;
    }

    .adminui-main>.el-container>.el-container {
        border-top: 1px solid var(--el-border-color-light);
        border-bottom: 1px solid var(--el-border-color-light);
        margin-top: 15px;
    }

    .adminui-main>.el-container>.el-container+.el-aside {
        border-top: 1px solid var(--el-border-color-light);
        margin-top: 15px;
    }

    .adminui-main>.el-container>.el-header {
        height: auto !important;
        display: block;
    }

    .adminui-main>.el-container>.el-main.nopadding {
        border-top: 1px solid var(--el-border-color-light);
        border-bottom: 1px solid var(--el-border-color-light);
        margin-top: 15px;
    }

    .adminui-main>.el-container>.el-main+.el-aside {
        border-left: 0 !important;
        border-top: 1px solid var(--el-border-color-light);
        margin-top: 15px;
    }

    .adminui-main>.el-container>.el-footer {
        margin-top: 15px;
        border-bottom: 1px solid var(--el-border-color-light);
    }

    .adminui-main>.el-container>.el-container>.el-header {
        height: auto !important;
        display: block;
    }

    .adminui-main>.el-container>.el-container>.el-header .left-panel {
        display: block;
    }

    .adminui-main>.el-container>.el-container>.el-header .right-panel {
        display: block;
        margin-top: 15px;
    }

    .common-main .el-form {
        width: 100% !important;
    }

    .common-header-logo label {
        display: none;
    }

    .common-header-title {
        display: none;
    }
}